$dark-color: #f5f5f4;
$dark-link-color: #c7d3df;
$dark-bg-color: #1e2329;
$dark-secondary: #2d333b;
$dark-border-color: #444c56;

$dark-input-bg-color: lighten($dark-secondary, 10%);
$dark-input-border-color: lighten($dark-secondary, 20%);
$dark-input-color: #fff;

@function encodeColor($string) {
  @if type-of($string) == "color" and str-index(#{$string}, "#") == 1 {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote("#{$hex}");

    @return "%23" + $string;
  }

  @return $string;
}

.dark-mode {
  scrollbar-color: lighten($dark-border-color, 20) $dark-secondary;

  &::-webkit-scrollbar {
    background-color: $dark-secondary;
  }
  &::-webkit-scrollbar-thumb {
    background-color: lighten($dark-border-color, 20);
  }

  body {
    background-color: $dark-bg-color;
    color: $dark-color;
  }

  a {
    color: $dark-link-color;

    &:active,
    &:hover,
    &:focus {
      color: darken($dark-link-color, 10);
      text-decoration: none;
    }
  }

  .btn {
    color: $dark-color;
  }

  blockquote {
    color: $dark-color;
    border-color: $dark-bg-color;
  }

  pre {
    color: $dark-color;
    border-color: $dark-bg-color;
  }

  .navbar-light {
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    }

    .navbar-nav .nav-link {
      color: $dark-color;
    }

    .navbar-brand {
      color: $dark-color;
    }
  }

  .bg-light {
    background-color: $dark-secondary !important;
  }

  .border,
  .border-bottom {
    border-color: $dark-border-color !important;
  }

  .navbar-btn {
    @include media-breakpoint-up("md") {
      border-color: $dark-input-border-color;
      background-color: $dark-input-bg-color;
    }
  }

  .btn-warning {
    color: $dark;
  }

  .modal-content {
    background-color: $dark-secondary;
  }

  .modal-header,
  .modal-footer {
    border-color: $dark-border-color;
  }

  .close {
    color: #fff;
  }

  .alert {
    a {
      color: $dark-secondary;
    }

    h5,
    h6 {
      color: $dark-secondary;
    }

    .close {
      color: $dark-secondary;
    }
  }

  .table {
    color: $dark-color;
    border-color: $dark-bg-color;

    th,
    td {
      border-color: $dark-bg-color;
    }

    &.table-striped tbody tr:nth-of-type(2n + 1) {
      background-color: rgba(0, 0, 0, 0.1);
    }

    &.table-hover tbody tr:hover {
      color: $dark-color;
    }

    &.table-sm {
      th,
      td {
        padding: 0.4rem;
      }
    }
  }

  .dropdown-menu,
  .card {
    background-color: $dark-secondary;
  }

  .dropdown-item {
    color: $dark-color !important;

    &:hover,
    &:focus {
      background-color: lighten($color: $dark-secondary, $amount: 10);
    }
  }

  .card {
    .dropdown-menu {
      background-color: $dark-bg-color;
      color: $dark-color;
    }
  }

  .text-muted {
    color: darken($color: $dark-color, $amount: 25) !important;
  }

  input[type="text"],
  .form-control,
  .custom-select,
  .ui.selection.dropdown,
  .b-form-tags-input,
  .custom-file-label,
  .input-group-text,
  input.vue-pincode-input {
    background-color: $dark-input-bg-color;
    border-color: $dark-input-border-color;
    color: $dark-input-color !important;

    &:disabled {
      background-color: darken($dark-input-bg-color, 1);
      cursor: not-allowed;
    }

    &::-webkit-input-placeholder {
      color: darken($color: $dark-color, $amount: 30);
    }

    &:-ms-input-placeholder {
      color: darken($color: $dark-color, $amount: 30);
    }

    &::placeholder {
      color: darken($color: $dark-color, $amount: 30);
    }
  }

  .ui.selection.active.dropdown {
    border-color: $dark-input-border-color;

    .menu {
      border-color: $dark-input-border-color;
    }

    &:hover {
      border-color: $dark-input-border-color;

      .menu {
        border-color: $dark-input-border-color;
      }
    }
  }

  .ui.label {
    background-color: $dark-secondary;
  }

  .ui.multiple.dropdown > .label i.icon.delete::after,
  .ui.multiple.dropdown > .label i.icon.delete::before {
    background-color: $dark-input-color;
  }

  .ui.dropdown {
    .menu {
      background-color: $dark-secondary;
    }

    input.search {
      color: #fff;

      &:focus + .text {
        color: #fff !important;
      }
    }
  }

  .ui.selection.dropdown .menu > .item {
    color: #fff;
    border-color: $dark-border-color;
  }

  .b-form-btn-label-control {
    &.form-control[aria-disabled="true"],
    &.form-control[aria-readonly="true"] {
      background-color: darken($dark-input-bg-color, 1);
      cursor: not-allowed;
    }
  }

  .custom-select:not(.is-valid):not(.is-invalid) {
    background: $dark-input-bg-color
      url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='#{encodeColor($dark-color)}' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
      right 0.75rem center/8px 10px no-repeat;
  }

  .nav {
    .nav-link {
      color: $dark-color;

      &.active {
        background-color: var(--gray) !important;
      }
    }
  }

  .page-item {
    .page-link {
      background-color: $dark-bg-color !important;
      border-color: $dark-border-color !important;
      color: $dark-link-color;

      &:hover,
      &:focus {
        color: darken($dark-link-color, 10);
      }
    }

    &.active .page-link {
      background-color: $dark-secondary !important;
    }
  }

  .content-input-wrapper {
    textarea {
      background-color: $dark-input-bg-color !important;
      color: $dark-color !important;
    }

    background-color: $dark-input-bg-color !important;
    color: $dark-color !important;
  }

  .v-note-wrapper {
    border-color: $dark-input-border-color !important;

    .v-note-panel .v-note-edit.divarea-wrapper.single-edit {
      color: $dark-color !important;
      background-color: $dark-input-bg-color !important;
      border-radius: 0;
    }

    .v-note-op {
      background-color: $dark-input-bg-color !important;
      border-color: $dark-input-border-color !important;
    }

    .op-icon {
      color: $dark-color !important;

      &:hover {
        color: $dark-secondary !important;
      }
    }

    .popup-dropdown {
      background-color: $dark-secondary !important;
    }

    .dropdown-item {
      color: $dark-color !important;

      &:hover {
        background-color: rgba(255, 255, 255, 0.3) !important;
        color: $dark-color !important;
      }
    }
  }

  .add-image-link-wrapper .add-image-link {
    background-color: $dark-secondary !important;
    color: $dark-color;

    .input-wrapper {
      background-color: $dark-input-bg-color !important;
      border-color: $dark-input-border-color !important;
    }
  }

  /*-------------------------------
  | Wallet Page
  -------------------------------*/
  .user-wallet {
    .dropdown-toggle {
      &.disabled {
        color: $dark-color !important;
      }
    }
  }

  /*-------------------------------
  | Post
  -------------------------------*/
  .vote-weight-popover {
    &.popover {
      min-width: 300px;
      background-color: $dark-bg-color;
    }

    .popover-body {
      color: $dark-color;
    }

    .arrow::after {
      border-right-color: $dark-bg-color;
    }
  }

  .btn-vote {
    color: $dark-color;

    &:hover {
      color: $dark-color;
    }
  }

  /*-------------------------------
  | Author Card
  -------------------------------*/
  .author-card {
    .author-dropdown {
      background-color: $dark-bg-color;
      border: 1px solid $dark-border-color;
    }
  }

  .tag-scrolling-wrapper {
    .slider-nav {
      background: rgba($color: $dark-bg-color, $alpha: 0.8);
      color: $dark-color;
    }
  }

  /*-------------------------------
  | NFT Marketplace
  -------------------------------*/
  .nft-card {
    border-color: $dark-border-color;
    box-shadow: 0 0 8px 0 rgba($color: $light, $alpha: 0.2);
  }

  .transaction-history-list {
    scrollbar-color: $dark-border-color $dark-secondary;

    &::-webkit-scrollbar {
      background-color: $dark-secondary;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $dark-border-color;
    }

    .list-group-item {
      background-color: $dark-secondary;

      &:nth-child(even) {
        background-color: rgba(0, 0, 0, 0.05);
      }
    }
  }

  /*-------------------------------
  | Search
  -------------------------------*/
  .search-form {
    hr {
      border-color: darken($color: $dark-color, $amount: 50);
    }

    .search-label {
      color: $dark-color;
    }

    .search-input {
      background-color: transparent;
      border-color: transparent;
      color: $dark-color;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath fill='#{encodeColor($dark-color)}' d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    }

    .divider {
      &:after {
        background-color: $border-color;
      }
    }
  }

  .b-calendar-grid-body {
    .text-dark {
      @extend .text-light;
    }

    .btn-light {
      @extend .btn-dark;
    }
  }

  /*-------------------------------
  | Diesel Pool
  -------------------------------*/
  .swap-currency-input {
    background-color: $dark-secondary;

    input {
      color: lighten($color: $dark-secondary, $amount: 50);

      &::placeholder {
        color: lighten($color: $dark-secondary, $amount: 50);
      }
    }

    button {
      color: #fff;
    }
  }
}
