$enable-rounded: false;

@function encodeColor($string) {
  @if type-of($string) == "color" and str-index(#{$string}, "#") == 1 {
    $hex: str-slice(ie-hex-str($string), 4);
    $string: unquote("#{$hex}");

    @return "%23" + $string;
  }

  @return $string;
}

@import "~bootstrap/scss/bootstrap.scss";
@import "~bootstrap-vue/src/index.scss";

.header-strip {
  padding: 0.2rem;
}

.header-strip-top {
  background-color: #f2b263;
}

.header-strip-middle {
  background-color: #ef525b;
}

.header-strip-bottom {
  background-color: #24c2cb;
}

@import "./light-mode";
@import "./dark-mode";
